@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('./navbar/navbar-mobile.css');
@import url('./cards/card-mobile.css');

body {
  padding: 0;
  margin: auto;
  margin-top: 90px;
  font-family: 'Fresca', sans-serif;
  padding-bottom: 80px;
}

.sidebar{display: none;}

.container {
  padding-left: 0;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
}

.center h1{padding-left: 15px;}