@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('./navbar/navbar-desktop.css');

@import url('./sidebar/sidebar-desktop.css');

@import url('./cards/card-desktop.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin: auto;
  font-family: 'Fresca', sans-serif;
  padding-bottom: 80px;
}

.center {
  margin-left : 90px;
  margin-right: 330px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  padding-left: 0;
  align-items: center;
}

.center h1{
  padding-left: 30px;
  text-align: left;
  font-size: 200%;
  text-shadow: 0 0 19px rgba(0, 0, 0, 0.220);

}