@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
@import url('../../css/navbar/navbar-desktop.css');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin: auto;
    font-family: 'Fresca', sans-serif;
    padding-bottom: 80px;
  }

.center {
    margin-left : 90px;
  }

.center h1{
  margin-left: 30px;
}